<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Kakao 지도 시작하기기기</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=19cf6167eee61c2847800c9ab316a5ec"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=clusterer"></script>
    <script src="https://kit.fontawesome.com/e644c07ff1.js" crossorigin="anonymous"></script>
    <style>
        html
        {
            width: 500px;
            height: 900px;
        }
        body
        {
            width: 500px;
            height: 900px;
            margin: 0;
        }
        .marker{
            background-color: #ffffff;
            border-radius: 7px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            padding: 0px 8px 2px 8px;
        }
        .overlaybox{
            flex-direction: column;
            width: 340px;
            position: absolute;
            padding:40px 28px 40px 28px;
            background-color: rgba(236, 224, 255, 1);
            border-radius: 25px
        }
    </style>
</head>
<body>
    <div id="map" style="width:500px;height:900px;"></div>


    <button  id ="currntLoc" style="background-color: #ffffff;position: absolute; top: 5px; left: 5px; z-index: 1; border-width: 0px; border-radius: 5px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); height: 36px; width: 36px;">
    <i class="fa-solid fa-location-crosshairs fa-2xl"></i>
    </button>
<script>
    var latitude=37.5666805;
    var longitude=126.9784147;

    function success({coords}){
        latitude = coords.latitude;
        longitude = coords.longitude;
    }

    function getUserLocation() {
        if (!navigator.geolocation) {
            throw "위치 정보가 지원되지 않습니다."
        }
        navigator.geolocation.getCurrentPosition(success);
    }

    getUserLocation();

    document.getElementById("currntLoc").addEventListener("click", getCurrunt);

    function getCurrunt() {
        getUserLocation();
        var moveLatLon = new kakao.maps.LatLng(latitude, longitude);
        map.panTo(moveLatLon)
    }

    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(latitude, longitude),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);

    var markerContent = document.createElement('div');
    markerContent.className = "marker";
    markerContent.innerHTML = '<span style="color:black; font-size: 11px">1,000</span>';

    var marker = new kakao.maps.CustomOverlay({
        content: markerContent,
        map: map,
        position: new kakao.maps.LatLng(37.40175, 126.922667)
    });

    var infoContent ='<div class="overlaybox">'+
        '	<div style="align-items: center">'+
        '		<span style="float:left;padding-right:5px;margin-bottom:11px">위치</span>'+
        '		<div style="align-items: stretch;padding: 4px;background-color:#fff;text-align: left;float:left;margin-bottom:11px">서울 용산구 새창로45가길 20</div>'+
        '	</div>'+
        '	<div style="align-items: center;">'+
        '		<span style="padding-right:5px;float:left;margin-bottom:11px">시간</span>'+
        '		<div style="align-items: stretch;padding: 4px;background-color:#fff;text-align: left; float:left;margin-bottom:11px">1시간 이내</div>'+
        '	</div>'+
        '	<div style="align-items: center;">'+
        '		<span style="padding-right:5px;float:left;margin-bottom:11px">가격</span>'+
        '		<div style="align-items: stretch;padding: 4px;background-color:#fff;text-align: left; float:left;margin-bottom:11px">1,000</div>'+
        '	</div>'+
        '	<div style="align-items: center;">'+
        '		<span style="padding-right:5px;float:left;margin-bottom:11px;">정보</span>'+
        '		<div style="align-items: stretch;padding: 4px;background-color:#fff;text-align: left; float:left;margin-bottom:11px">생수</div>'+
        '	</div>'+
        '	<hr/>'+
        '	<div style="align-items: center;">'+
        '		<span style="padding-right:5px;float:left;margin-bottom:11px;">배송 예상 시간</span>'+
        '		<input type="text" style="align-items: stretch; padding: 4px;background-color:#fff;text-align: left; float:left; margin-bottom:11px;border-width:0; font-size: 15px"/>'+
        '	</div>'+
        '	<div style="align-items: center; width: 270px">'+
        '		<span style="padding-right:5px;margin-bottom:11px;float:left;">현재 위치</span>'+
        '		<div style="align-items: center; width: 204px">'+
        '			<input type="text" style="width:100%; padding: 4px;background-color:#fff;text-align: left; float:left; margin-bottom:11px;border-width:0; font-size: 15px"/>'+
        '			<button style="float:left;">'+
        '				<i class="fa-solid fa-location-crosshairs"></i>'+
        '			</button>'+
        '		</div>'+
        '	</div>'+
        '	<div style="flex-direction:row; justify-content:space-evenly;">'+
        '		<button onclick="closeOverlay()" style="float:left; background: #F0F0F0;border-radius: 10px;width:105px;height:25px;border-width:0;margin-left:20px;margin-right:35px">나가기</button>'+
        '		<button onclick="submitReq()" style="float:left; background: #D5F999;border-radius: 10px;width:105px;height:25px;border-width:0;">매칭 요청</button>'+
        '	</div>'+
        '</div>';

    var infoOverlay = new kakao.maps.CustomOverlay({
        content: infoContent,
        position: marker.getPosition(),
    })

    markerContent.addEventListener('click', function() {
        document.querySelector("div.marker").style.background = "#E8FFC1";
        infoOverlay.setMap(map);
    });

    function closeOverlay() {
        document.querySelector("div.marker").style.background = "#ffffff";
        infoOverlay.setMap(null);
    };

    function submitReq() {
        document.querySelector("div.marker").style.background = "#ffffff";
        infoOverlay.setMap(null);
    }
</script>

</body>
</html>